# Activity 1: Work with the IRIS Dataset
Alexa Serrano Negrete

1. Load the iris.csv file in your computer and compare with the data printed above.
2. How many observations (rows) are in total?
3. How many variables (columns) are in total? What do they represent?
4. How many observations are for each type of flower? 
5. What is the type of data for each variable?
6. What are the units of each variable?

In [30]:
#1. Load .csv file and compare to cartwheel
import pandas as pd
route = "datasets/iris/iris.csv"
dataset = pd.read_csv(route, header = None)
dataset = dataset.rename(columns = {0 : "Sepal Length", 1 : "Sepal Width", 2 : "Petal Length", 3 : "Petal Width", 4 : "Class"})
dataset

     Sepal Length  Sepal Width  Petal Length  Petal Width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [31]:
#2. How many rows are there in total?
numRows, numCol = dataset.shape
print("rows: ", numRows)

rows:  150

In [32]:
#3. How many columns are there in total? What do they represent?
print("columns: ", numCol)

columns:  5

In [33]:
#4. How many observations are for each type of flower? 
print(dataset.value_counts())

Sepal Length  Sepal Width  Petal Length  Petal Width  Class
5.8           2.7          5.1           1.9          Iris-virginica     2
7.9           3.8          6.4           2.0          Iris-virginica     1
5.4           3.0          4.5           1.5          Iris-versicolor    1
5.5           2.4          3.7           1.0          Iris-versicolor    1
              2.3          4.0           1.3          Iris-versicolor    1
                                                                        ..
6.3           2.5          4.9           1.5          Iris-versicolor    1
              2.3          4.4           1.3          Iris-versicolor    1
6.2           3.4          5.4           2.3          Iris-virginica     1
              2.9          4.3           1.3          Iris-versicolor    1
4.3           3.0          1.1           0.1          Iris-setosa        1
Length: 149, dtype: int64

#5. What is the type of data for each variable?
ANS: 4 floats, 1 string

#6. What are the units of each variable?
#R: The floats are in cm, and the string has no units