# Activity: work with the iris dataset

1. Load the iris.csv file in your computer and compare with the data printed above.


2. How many observations (rows) are in total?


3. How many variables (columns) are in total? What do they represent?


4. How many observatoins are for each type of flower? 


5. What is the type of data for each variable?


6. What are the units of each variable?

In [19]:
#1.Cargar archivo .csv y compararlo con cartwheel
import pandas as pd
ruta = "datasets/iris/iris.csv"
dataset = pd.read_csv(ruta)
dataset

     SepalLength  SepalWidth  PetalLength  PetalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [25]:
#2.¿Cuantas observaciones (renglones) hay en total? 
Nr, Nc = dataset.shape
print("renglones: ", Nr)

renglones:  150

In [26]:
#3.¿Cuantas variables (columnas) hay en total? ¿Que representan? 
print("columnas: ", Nc)

columnas:  5

In [30]:
#4.¿Cuantas observaciones hay para cada tipo de flor? 
print(dataset.value_counts("Class"))
#R: Existen 3 tipos de flor con 50 observaciones cada una

Class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [28]:
#5.¿Cual es el tipo de dato para cada variable? 
#R: 4 de tipo flotante y 1 de tipo string

In [29]:
#6.¿Cuales son las unidades de cada variable?
#R: Las 4 de tipo flotante estan en centimetros (cm) la de tipo string no tiene unidades