# Activity: work with the iris dataset

Repeat this tutorial with the iris data set and respond to the following inquiries

1. Calculate the statistical summary for each quantitative variables. Explain the results
    - Identify the name of each column
    - Identify the type of each column
    - Minimum, maximum, mean, average, median, standar deviation
    
    
2. Are there missing data? If so, create a new dataset containing only the rows with the non-missing data


3. Create a new dataset containing only the petal width and length and the type of Flower


4. Create a new dataset containing only the setal width and length and the type of Flower


5. Create a new dataset containing the setal width and length and the type of Flower encoded as a categorical numerical column

In [12]:
# Import the packages that we will be using
import pandas as pd

In [13]:
# url string that hosts our .csv file
ruta = "datasets/iris/iris.csv"

# Read the .csv file and store it as a pandas Data Frame
df = pd.read_csv (ruta)

In [14]:
df.shape

(150, 5)

In [15]:
df

     Sepallength  Sepalwidth  Petallength  Petalwidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [16]:
# Identify the name of each column
df.columns

Index(['Sepallength', 'Sepalwidth', 'Petallength', 'Petalwidth', 'Name'], dtype='object')

In [17]:

# Identify the type of each column
df.dtypes

Sepallength    float64
Sepalwidth     float64
Petallength    float64
Petalwidth     float64
Name            object
dtype: object

In [18]:

# Minimum, maximum, mean, average, median, standar deviation if Sepallength
    

minimum_df = df["Sepallength"].min()
max_df = df["Sepallength"].max()
median_df = df["Sepallength"].median()
std_df = df["Sepallength"].std()
mean_df = df["Sepallength"].mean()

 
print("Minimum:",minimum_df, "\nMaximum:", max_df, "\nMean:",mean_df, "\nMedian:",median_df, "\nstd:",std_df)
df.Sepallength.dropna().describe()

Minimum: 4.3
Maximum: 7.9
Mean: 5.843333333333335
Median: 5.8
std: 0.8280661279778629

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: Sepallength, dtype: float64

In [19]:
# Minimum, maximum, mean, average, median, standar deviation
minimum_df = df["Petallength"].min()
max_df = df["Petallength"].max()
mean_df = df["Petallength"].mean()
median_df = df["Petallength"].median()
std_df = df["Petallength"].std()
 
print("Minimum:",minimum_df, "\nMaximum:", max_df, "\nMean:",mean_df, "\nMedian:",median_df, "\nstd:",std_df)
df.Petallength.dropna().describe()

Minimum: 1.0
Maximum: 6.9
Mean: 3.7580000000000027
Median: 4.35
std: 1.7652982332594667

count    150.000000
mean       3.758000
std        1.765298
min        1.000000
25%        1.600000
50%        4.350000
75%        5.100000
max        6.900000
Name: Petallength, dtype: float64

In [20]:
# Minimum, maximum, mean, average, median, standar deviation of pedalwidth
minimum_df = df["Petalwidth"].min()
max_df = df["Petalwidth"].max()
mean_df = df["Petalwidth"].mean()
median_df = df["Petalwidth"].median()
std_df = df["Petalwidth"].std()
 
print("Minimum:",minimum_df, "\nMaximum:", max_df, "\nMean:",mean_df, "\nMedian:",median_df, "\nstd:",std_df)
df.Petalwidth.dropna().describe()

Minimum: 0.1
Maximum: 2.5
Mean: 1.199333333333334
Median: 1.3
std: 0.7622376689603465

count    150.000000
mean       1.199333
std        0.762238
min        0.100000
25%        0.300000
50%        1.300000
75%        1.800000
max        2.500000
Name: Petalwidth, dtype: float64

In [21]:
#Are there missing data? If so, create a new dataset containing only the rows 
#with the non-missing data
df.isnull().sum()

#NO HAY DATOS FALTANTES

Sepallength    0
Sepalwidth     0
Petallength    0
Petalwidth     0
Name           0
dtype: int64

In [22]:
#Create a new dataset containing only the petal width and length and the type 
#of Flower

dataset_new = df.loc[:,["Petallength","Petalwidth", "Name"]]
dataset_new

     Petallength  Petalwidth            Name
0            1.4         0.2     Iris-setosa
1            1.4         0.2     Iris-setosa
2            1.3         0.2     Iris-setosa
3            1.5         0.2     Iris-setosa
4            1.4         0.2     Iris-setosa
..           ...         ...             ...
145          5.2         2.3  Iris-virginica
146          5.0         1.9  Iris-virginica
147          5.2         2.0  Iris-virginica
148          5.4         2.3  Iris-virginica
149          5.1         1.8  Iris-virginica

[150 rows x 3 columns]

In [23]:
# Create a new dataset containing only the setal width and length and the type 
#of Flower

dataset_new2 = df.loc[:,["Sepallength","Sepalwidth", "Name"]]
dataset_new2

     Sepallength  Sepalwidth            Name
0            5.1         3.5     Iris-setosa
1            4.9         3.0     Iris-setosa
2            4.7         3.2     Iris-setosa
3            4.6         3.1     Iris-setosa
4            5.0         3.6     Iris-setosa
..           ...         ...             ...
145          6.7         3.0  Iris-virginica
146          6.3         2.5  Iris-virginica
147          6.5         3.0  Iris-virginica
148          6.2         3.4  Iris-virginica
149          5.9         3.0  Iris-virginica

[150 rows x 3 columns]

In [24]:

#Create a new dataset containing the setal width and length and the type of 
#Flower encoded as a categorical numerical column
dataset = df.replace({"Name": {"Iris-setosa":1, "Iris-versicolor":2, "Iris-virginica":3}})
dataset.loc[:,["Sepallength","Sepalwidth", "Name"]]

     Sepallength  Sepalwidth  Name
0            5.1         3.5     1
1            4.9         3.0     1
2            4.7         3.2     1
3            4.6         3.1     1
4            5.0         3.6     1
..           ...         ...   ...
145          6.7         3.0     3
146          6.3         2.5     3
147          6.5         3.0     3
148          6.2         3.4     3
149          5.9         3.0     3

[150 rows x 3 columns]