| Luis Alejandro Rodríguez González |
| :---: |
| A01637333@itesm.mx |

# Importing and inspecting the data

In [1]:
# Import the packages that we will be using
import pandas as pd

# Dataset url
path = "datasets/iris/iris.csv"

# Load the dataset
df = pd.read_csv(path, header=None)

# Assign column names
df.columns = ["sepalLength", "sepalWidth", "petalLength","petalWidth", "class"]

In [2]:
df

     sepalLength  sepalWidth  petalLength  sepalWidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

# Activity: work with the iris dataset

1. Load the iris.csv file in your computer and compare with the data printed above.


2. How many observations (rows) are in total?


3. How many variables (columns) are in total? What do they represent?


4. How many observatoins are for each type of flower? 


5. What is the type of data for each variable?


6. What are the units of each variable?

In [14]:
# Extract number of observations, variables and column names.
Nobs, Nvar = df.shape
varnames = df.columns
print("Observations:", Nobs)
print("Variables:", Nvar)
print("Variable names:")
for i in varnames:
    print("", i)

Observations: 150
Variables: 5
Variable names:
 sepalLength
 sepalWidth
 petalLength
 sepalWidth
 class

In [4]:
# Extract observations per flower type.
classes = df["class"].unique()
Npertype = df["class"].value_counts()
print("Observations per flower type:")
for i in range(0,classes.size):
    print(Npertype[i], classes[i])

Observations per flower type:
50 Iris-setosa
50 Iris-versicolor
50 Iris-virginica

In [15]:
# Extract variable data types.
vartype = df.dtypes
print("Variable data type:")
for i in range(0, varnames.size):
    print("", vartype[i], "\t", varnames[i])

Variable data type:
 float64 	 sepalLength
 float64 	 sepalWidth
 float64 	 petalLength
 float64 	 sepalWidth
 object 	 class

The units of all numeric variables as described by the iris.names file are **centimeters**.