| Luis Alejandro Rodríguez González |
| :---: |
| A01637333@itesm.mx |

# Importing libraries

In [1]:
# Import the packages that we will be using
import pandas as pd

# Importing data

In [2]:
# url string that hosts our .csv file
path = "datasets/iris/iris.csv"

# Read the .csv file and store it as a pandas Data Frame
df = pd.read_csv(path, header=None)

# Assign column names
df.columns = ["sepalLength", "sepalWidth", "petalLength","petalWidth", "class"]

In [3]:
df

     sepalLength  sepalWidth  petalLength  petalWidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

# Activity: work with the iris dataset

Repeat this tutorial with the iris data set and respond to the following inquiries

1. Calculate the statistical summary for each quantitative variables. Explain the results
    - Identify the name of each column
    - Identify the type of each column
    - Minimum, maximum, mean, average, median, standar deviation
    
    
2. Are there missing data? If so, create a new dataset containing only the rows with the non-missing data


3. Create a new dataset containing only the petal width and length and the type of Flower


4. Create a new dataset containing only the setal width and length and the type of Flower


5. Create a new dataset containing the setal width and length and the type of Flower encoded as a categorical numerical column

In [4]:
# Statistical summary.
summary = df.describe()
print(summary)

       sepalLength  sepalWidth  petalLength  petalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.057333     3.758000    1.199333
std       0.828066    0.435866     1.765298    0.762238
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [5]:
# Extract column names.
varnames = df.columns
print("Column names:")
for i in varnames:
    print("", i)

Column names:
 sepalLength
 sepalWidth
 petalLength
 petalWidth
 class

In [6]:
# Extract column type.
vartype = df.dtypes
print("Column data type:")
for i in range(0, varnames.size):
    print("", vartype[i], "\t", varnames[i])

Column data type:
 float64 	 sepalLength
 float64 	 sepalWidth
 float64 	 petalLength
 float64 	 petalWidth
 object 	 class

In [17]:
# Quantitative descriptors: minima, maxima, means, std. devs. and medians.
descrip = summary.loc[["min", "max", "mean","50%", "std"],:]
descrip = descrip.rename({"50%": "median"})
print(descrip)

        sepalLength  sepalWidth  petalLength  petalWidth
min        4.300000    2.000000     1.000000    0.100000
max        7.900000    4.400000     6.900000    2.500000
mean       5.843333    3.057333     3.758000    1.199333
median     5.800000    3.000000     4.350000    1.300000
std        0.828066    0.435866     1.765298    0.762238

In [9]:
# Remove observations with missing data
Nnullobs = df.isnull().sum().sum()
print("Observations with missing data:", Nnullobs)

Observations with missing data: 0

In [10]:
# Dataset containing only petal width, length and class
df1 = df[["petalWidth","petalLength","class"]]
df1.head()

   petalWidth  petalLength        class
0         0.2          1.4  Iris-setosa
1         0.2          1.4  Iris-setosa
2         0.2          1.3  Iris-setosa
3         0.2          1.5  Iris-setosa
4         0.2          1.4  Iris-setosa

In [11]:
# Dataset containing only sepal width, length and class
df2 = df[["sepalWidth","sepalLength","class"]]
df2.tail()

     sepalWidth  sepalLength           class
145         3.0          6.7  Iris-virginica
146         2.5          6.3  Iris-virginica
147         3.0          6.5  Iris-virginica
148         3.4          6.2  Iris-virginica
149         3.0          5.9  Iris-virginica

In [12]:
# Dataset containing only sepal width, length and class encoded as a category
print(df2["class"].unique())
df3 = df2.replace({"Iris-setosa": 1, "Iris-versicolor": 2, "Iris-virginica": 3})
print(df3["class"].unique())
print("Indices assigned to each class:")
for i in range(0, df2["class"].nunique()):
    print("", df3["class"].unique()[i], "\t", df2["class"].unique()[i])

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']
[1 2 3]
Indices assigned to each class:
 1 	 Iris-setosa
 2 	 Iris-versicolor
 3 	 Iris-virginica