# Data management using Pandas

## Importing libraries

In [1]:
# Import the packages that we will be using
import pandas as pd

## Importing data

In [2]:
path = "datasets/iris/iris.csv"
colnames = ["Sepal_Length", "Sepal_Width","Petal_Length","Petal_Width", "Flower_Name"]
df = pd.read_csv(path, names = colnames)

If we want to print the information about th output object type we would simply type the following: type(df)

In [3]:
type(df)

pandas.core.frame.DataFrame

## Basic information (for activity)

In [4]:
rows, cols = df.shape
print("Rows:", rows)
print("Columns:", cols)

Rows: 150
Columns: 5

In [5]:
df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Flower_Name
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
df.columns

Index(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Flower_Name'],
      dtype='object')

In [7]:
df.dtypes

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal_Width     float64
Flower_Name      object
dtype: object

# Activity: work with the iris dataset

Repeat this tutorial with the iris data set and respond to the following inquiries

## 1. Calculate the statistical summary for each quantitative variables. Explain the results

### -Identify the name of each column:
            'Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width','Flower_Name'
            
### -Identify the type of each column:
            count    27.000000
            mean     28.259259
            std       6.728771
            min      22.000000
            25%      24.500000
            50%      27.000000
            75%      29.500000
            max      56.000000
            Name: Age, dtype: float64
            
### -Minimum, maximum, mean/average, median, standar deviation:
        (En orden)

In [8]:
df.max()

Sepal_Length               7.9
Sepal_Width                4.4
Petal_Length               6.9
Petal_Width                2.5
Flower_Name     Iris-virginica
dtype: object

In [9]:
df.max()

Sepal_Length               7.9
Sepal_Width                4.4
Petal_Length               6.9
Petal_Width                2.5
Flower_Name     Iris-virginica
dtype: object

In [10]:
df.mean()

Sepal_Length    5.843333
Sepal_Width     3.057333
Petal_Length    3.758000
Petal_Width     1.199333
dtype: float64

In [11]:
df.median()

Sepal_Length    5.80
Sepal_Width     3.00
Petal_Length    4.35
Petal_Width     1.30
dtype: float64

In [12]:
df.std()

Sepal_Length    0.828066
Sepal_Width     0.435866
Petal_Length    1.765298
Petal_Width     0.762238
dtype: float64

## 2. Are there missing data? If so, create a new dataset containing only the rows with the non-missing data
         There are no missing data:

In [13]:
df.isnull().sum()

Sepal_Length    0
Sepal_Width     0
Petal_Length    0
Petal_Width     0
Flower_Name     0
dtype: int64

## 3. Create a new dataset containing only the petal width and length and the type of Flower

In [14]:
newDF = df[["Flower_Name", "Petal_Length"]]
newDF

        Flower_Name  Petal_Length
0       Iris-setosa           1.4
1       Iris-setosa           1.4
2       Iris-setosa           1.3
3       Iris-setosa           1.5
4       Iris-setosa           1.4
..              ...           ...
145  Iris-virginica           5.2
146  Iris-virginica           5.0
147  Iris-virginica           5.2
148  Iris-virginica           5.4
149  Iris-virginica           5.1

[150 rows x 2 columns]

## 4. Create a new dataset containing only the setal width and length and the type of Flower

In [15]:
newDF = df[["Flower_Name", "Sepal_Width"]]
newDF

        Flower_Name  Sepal_Width
0       Iris-setosa          3.5
1       Iris-setosa          3.0
2       Iris-setosa          3.2
3       Iris-setosa          3.1
4       Iris-setosa          3.6
..              ...          ...
145  Iris-virginica          3.0
146  Iris-virginica          2.5
147  Iris-virginica          3.0
148  Iris-virginica          3.4
149  Iris-virginica          3.0

[150 rows x 2 columns]

## 5. Create a new dataset containing the setal width and length and the type of Flower encoded as a categorical numerical column

In [16]:
newDF = df
newDF.drop(['Sepal_Length', 'Petal_Length', 'Petal_Width'], axis = 1, inplace = True)
newDF.Flower_Name = pd.Categorical(newDF.Flower_Name)
newDF["Flower_Name"] = df.Flower_Name.cat.codes

print("New flower names as numbers:")
print(df.Flower_Name.value_counts())

print("Resulting dataframe:")

newDF

New flower names as numbers:
0    50
1    50
2    50
Name: Flower_Name, dtype: int64
Resulting dataframe:

     Sepal_Width  Flower_Name
0            3.5            0
1            3.0            0
2            3.2            0
3            3.1            0
4            3.6            0
..           ...          ...
145          3.0            2
146          2.5            2
147          3.0            2
148          3.4            2
149          3.0            2

[150 rows x 2 columns]